<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="91f91596-d921-4634-8ec0-0247844007d0"
    Publisher="CN=deanc"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="91f91596-d921-4634-8ec0-0247844007d0" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>XAMLAssetCreator</DisplayName>
    <PublisherDisplayName>deanc</PublisherDisplayName>
    <Logo>Assets\Icon50.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="XAMLAssetCreator.App">
      <uap:VisualElements
        DisplayName="XAML Asset Creator"
        Description="XAML Asset Creator for creating project assets in UWP and Xamarin apps"
        BackgroundColor="transparent" Square44x44Logo="Assets\Icon44.png" Square150x150Logo="Assets\Icon150.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Icon310.png" Square71x71Logo="Assets\Icon71.png" ShortName="XAC">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo"/>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\Icon24.png" Notification="badgeAndTileText"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient"/></Capabilities>
</Package>